html {
	background-color: white;
}

.container {
	width: 95%;
	background-color: #F9F9F9;
	margin-top: 2%;
	margin-bottom: 2%;
	/*background-image: url('http://i.imgur.com/ttRmkk3.jpg');
	background-size: cover;*/
}

.jumbotron {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: white;
}

.jumbotron h1 {
	text-align: center;
}

.jumbotron .container {
	/*background-color: rgba(20,20,20,0.8);*/
	/*border-radius: 3px;*/
	color: #000;
}

/* LIST ALBUMS */

.link {
	opacity: 0.9;
}

.items_container .item {
	position: relative;
}

.img_container {
	overflow: hidden;
}

p.img_container {
	margin-bottom: 0;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.2;
	z-index: 2;
}

.items_container .item .overlay {
	opacity: 0;
	z-index: 2;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}

.items_container .item a.grow:hover .overlay {
	opacity:0.3;
}

.items_container .item img {
	width: 100%;
	-transition: all 4000ms cubic-bezier(.19,1,.22,1) 0ms;
	-webkit-transition: all 4000ms cubic-bezier(.19,1,.22,1) 0ms;
	-moz-transition: all 4000ms cubic-bezier(.19,1,.22,1) 0ms;
	transition: all 4000ms cubic-bezier(.19,1,.22,1) 0ms;
}

.items_container .item p > a {
	margin: 0 auto;
	display: block;
	border-radius: 0px;
}

.grow {
	display: block;
	position:relative;
}

.grow { transition: all 1s ease-in-out; }
.grow:hover {
		transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-o-transform: scale(1.05);
		-moz-transform: scale(1.05);
}

.btn-default {
	/*opacity: 0.8;*/
}


/* FOOTER */

footer p {
	text-align: center;
	font-size: 15px !important;
}
